body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #66bb6a;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container .logo {
  max-height: 80px; /* 로고 크기 제한 */
  height: auto;
  width: auto; /* 비율 유지 */
  object-fit: contain; /* 이미지 크기 조정 */
  margin-bottom: 10px; /* 로고와 텍스트 사이 여백 */
}

.header-container h1 {
  font-size: 2em;
  margin: 10px 0;
}

.header-container p {
  font-size: 1.2em;
  margin: 5px 0 0;
}

main {
  flex: 1;
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.terms {
  margin: 30px 0;
}

.terms-checkbox {
  display: flex;
  align-items: center;
}

.terms-checkbox input {
  margin-right: 10px;
}

.terms-content {
  font-size: 0.9em;
  color: #777;
  margin-top: 10px;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
}

.terms-box {
  max-height: 200px; /* 스크롤 가능한 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  background: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.actions button {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background-color: #66bb6a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actions button:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  padding: 15px 0;
  background: #66bb6a;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background-color: #66bb6a;
  color: white;
  cursor: not-allowed; /* 버튼 비활성화 상태에서 커서를 금지 아이콘으로 설정 */
  transition: background-color 0.3s; /* 배경색 전환 애니메이션 */
}

button:enabled {
  cursor: pointer; /* 활성화 상태에서 일반 클릭 가능 아이콘 */
  background-color: #66bb6a; /* 활성화 상태에서 배경색 변경 */
}

button:enabled:hover {
  background-color: #004494; /* 활성화 상태에서 호버 시 색상 */
}

button.disabled {
  background-color: #cccccc; /* 비활성화 상태의 버튼 색상 */
  cursor: not-allowed; /* 클릭 불가한 느낌의 커서 */
}

.input-box,
.textarea-box {
  width: 800px; /* 부모 요소의 100% 너비 */
  max-width: 800px; /* 부모 요소의 최대 가로폭을 가득 채움 */
  height: auto; /* 자동 높이 설정 */
  padding: 10px; /* 내부 여백 */
  margin-bottom: 15px; /* 입력칸 간 여백 */
  background: #f9f9f9; /* 배경색 */
  border: 1px solid #ddd; /* 테두리 */
  border-radius: 4px; /* 모서리 둥글게 */
  box-sizing: border-box; /* 패딩과 테두리 포함하여 크기 계산 */
}

#preferences-form {
  width: 100%; /* 부모 요소의 전체 너비를 사용 */
  max-width: 900px; /* 원하는 최대 너비 (조정 가능) */
  margin: 0 auto; /* 가운데 정렬 */
}
