<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>모임장소 추천서비스</title>
    <!-- CSS 파일 경로 -->
    <link rel="stylesheet" href="Recommend.css" />

    <!-- Kakao Map API -->
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{ JAVASCRIPT_KEY }}&libraries=clusterer,drawing"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header>
      <div id="meeting-info-container">
        <span id="meeting-name">친구들과의 저녁식사</span>
      </div>
    </header>

    <main id="main-container">
      <div id="map"></div>
      <div id="chat-container">
        <!-- 추가 정보 상자 -->
        <div id="info-box">
          <p>추가 정보가 여기에 표시됩니다.</p>
        </div>
        <div id="chat-messages"></div>
        <div id="input-container">
          <textarea
            id="user-input"
            placeholder="메시지를 입력하세요..."
            rows="1"
          ></textarea>
          <button onclick="sendMessage()">⮞</button>
        </div>
      </div>
    </main>

    <script>
      const userInput = document.getElementById("user-input");

      userInput.addEventListener("input", function () {
        this.style.height = "auto"; // 높이를 초기화
        this.style.height = this.scrollHeight + "px"; // 내용에 맞게 높이 조정
      });
    </script>

    <!-- JavaScript 파일 경로 -->
    <script src="Recommend.js"></script>
  </body>
</html>
